#admin-header{
    min-height: 10vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

#grid-container-nav-menu{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    margin-bottom: 40px;
}

#new-member-button{
    background: lightgrey;
	color:black;
	border: none;
	padding: 4px;
	font:inherit;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
	cursor: pointer;
	outline: inherit;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

#grid-container-nav-menu img{
    width: 100px;
}

#nav-links{
    flex:1;
    text-align: right;
}

#nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

#nav-links ul li::after{
    content:"";
    width:0%;
    height: 2px;
    background-color:black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#new-member-button::after{
    content:"";
    width:0%;
    height: 2px;
    background-color:black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#new-member-button:hover{
    background-color: darkgray;
}

#nav-links ul li:hover::after{
    width: 100%;
}


#nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.text-box{
    width: 90%;
    color: black;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-65%, -10%);
    text-align: center;
}

.text-box h1{
    font-size:30px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: aquamarine;
}

#login-div {
    margin: 100px auto;
    width: 350px;
    background-color: lightcyan;
    padding: 60px;
    border: 2px solid lightblue;
    border-radius: 20%;
}

.logo img {
    width: 100%
}

.logo {
    background-color: lightskyblue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin:0 auto;
    margin-bottom: 50px;
}

#welcome-message, #subtitle{
    text-align: center;
    color:lightskyblue;
}

#welcome-message-container {
    font-weight: bolder;
    font-size: 20px;
}

#subtitle {
    font-size: 15px;
}

#login-form{
    width: 100%;
    margin-top: 30px;
}

#login-form input {
   font-size: 15px; 
   padding: 10px 20px 10px 5px;
   border: none;
   outline: none;
   background: none;
}

#user-name-div, #password-div{
    background-color: whitesmoke;
    display: block;
    border-radius: 30px;
    border: 1px solid black;
    padding: 15px;
    margin: 10px 0;
}

#login-body {
    background-color:aquamarine;
    height: 100vh;
    width: 100%;  
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


#welcome-message{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

#welcome-message-container{
    height: 20%;
    border-radius: 10px;
}

#log-but{
    height: 50%;
    width: 25%;
    border-radius: 10px;
    font-size: larger;
}

#log-but:hover{
    background-color: lightgrey;
}

body{
    margin: 0;
}



#login-button-container{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}    



#grid-container-nav a {
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
}


h1 {
    text-align: center;
}


.swimmer-btns-container{
  margin-top: 0px;
    grid-column: 2;
    grid-row: 3;
}

.swimmer-btns:hover{
   background-color: darkgray;
    cursor: pointer;
}
.swimmer-btns{
    width: 100%;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr;
   
}



.swimmer-info {
    /* background-color: aquamarine; */
    width: 170px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.swimmer-discipline{
     /* background-color: aquamarine; */
    width: 170px;
    border-radius: 10px;
}

.swimmer-comp-results{
      /* background-color: aquamarine; */
    width: 170px;
    border-radius: 10px;
}

#grid-container-nav-menu-coach {
    text-align: center;
}

#top5-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#top5-grid-container button{
    border-radius: 10px;
}

#top-five-button{
    grid-column: 2;
    grid-row: 1;
}

#top-five-junior-button{
    grid-column: 4;
}



#coach-header {
    background-color: aquamarine;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}


#elite-swimmers-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.elite-swimmer-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    max-width: 800px;
    background-color: aqua;
    margin-left: 10px;
    border: 1px solid black;
}

.swimmer-btns{
    margin-top: 50px;
    grid-column: 2;
    grid-row: 3;
}

.add-result-button{
    border-radius: 10px;
    background-color: aquamarine;
}

.edit-result-button{
    border-radius: 10px;
    background-color: aquamarine;
}

.cashier-members-item{
border: solid black;
}

.amount-owned-red {
background-color: red;
}

.amount-owned-green {
background-color: greenyellow;
}

#member-object-container section{
     margin: auto;
     text-align: center;
     padding-top: 10px;
}

.member-object{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    max-width: 800px;
    background-color: aqua;
    margin-left: 10px;
    border: 1px solid black;
}



#member-object-container{
    max-width: 800px;
}

.member-object div {
    border: solid 1px black;
    padding: 5px;
}

.member-object div p{
    background-color: whitesmoke;
    padding: 2px;
    width: 98%;
    border-radius: 10px;
}

.member-object:hover{
    background-color: darkgray;
    cursor: pointer;
}

.object-btns{
 display: grid;
 grid-row: 1fr 1fr;
 place-items: center;
}

.object-btns button{
    border-radius: 10px;
    width:50%;
    height: 75%;
}

.object-btns button:hover{
    cursor: pointer;
    background-color: darkgray;
}

.personal-information p{
    transform: translate(0%, 200%);
}

#body-grid-container{
    display: grid;
    grid-template-columns: 72fr 3fr 48fr;
}

dt{
    text-decoration: underline;
}

#faq{
    border-radius: 10px;
    background-color: aqua;
    margin-right: 15px;
    grid-column: 3;
    padding-left: 5px;
    padding-right: 5px;
    border: 1.5px solid black;
    height: fit-content;
}

#faq h3{
    text-align: center;
}

#sum-of-income-container {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  display: grid;
  place-items: center;
}

.detailed-obj-table {
    border-collapse: collapse;
    width: 100%;
}

.detailed-obj-table th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.detailed-obj-table th {
    background-color: #f2f2f2;
}

.obj-name{
    font-weight: lighter;
    font-size: smaller;
    text-decoration: underline;
}

#obj-table{
    padding: 20px;
}

#detail-dialog{
    border-radius: 10px;
}

#payment-select{
    margin-left: 50%;
}



