#login-body {
    background-color:aquamarine;
    height: 100vh;
    width: 100%;  
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#welcome-message{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

#welcome-message-container{
    background-color: aliceblue;
    height: 20%;
    border-radius: 10px;
}

#log-but{
    height: 50%;
    width: 25%;
    border-radius: 10px;
    font-size: larger;
}

#log-but:hover{
    background-color: lightgrey;
}

body{
    margin: 0;
}



#login-button-container{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}    

#grid-container-nav-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#grid-container-nav a {
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
}

#admin-nav {
    background-color: aquamarine;
    padding: 15px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

#grid-container-admin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#new-member-button-container{
    grid-column: 3;
}

.member-object {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid black;
}

#grid-container-nav-menu-coach {
    background-color: aqua;
}

#coach-nav {
    background-color: antiquewhite;
}

#elite-swimmers-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.elite-swimmer-item{
    border: solid black;
}

#member-object-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 10px;
}

#edit-btn{
    border-radius: 0.3cm;
    margin-bottom: 5px;
    background-color: aqua;
}
