#login-body {
    background-color:aquamarine;
    height: 100vh;
    width: 100%;  
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

body{
    background-color: aliceblue;
}

#welcome-message{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

#welcome-message-container{
    background-color: aliceblue;
    height: 20%;
    border-radius: 10px;
}

#log-but{
    height: 50%;
    width: 25%;
    border-radius: 10px;
    font-size: larger;
}

#log-but:hover{
    background-color: lightgrey;
}

body{
    margin: 0;
}



#login-button-container{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}    

#grid-container-nav-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#grid-container-nav a {
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
}

#admin-nav {
    background-color: aquamarine;
    padding: 15px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

#grid-container-admin {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#new-member-button-container{
    grid-column: 3;
}

#new-member-button{
    border-radius: 10px;
}

.swimmer-btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
}




.personal-information{
    background-color:aquamarine;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
}

.swim-information{
        background-color:aquamarine;
    width: 200px;
    border-radius: 10px;
    padding-left: 10px;
}

.object-btns button{
    background-color: aquamarine;
}

.member-object {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: azure;
    align-items: center;
    
}

.swimmer-info {
    background-color: aquamarine;
    width: 170px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.swimmer-discipline{
     background-color: aquamarine;
    width: 170px;
    border-radius: 10px;
}

.swimmer-comp-results{
      background-color: aquamarine;
    width: 170px;
    border-radius: 10px;
}

#grid-container-nav-menu-coach {
    text-align: center;
}

#top5-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#top5-grid-container button{
    border-radius: 10px;
}

#top-five-button{
    grid-column: 2;
    grid-row: 1;
}

#top-five-junior-button{
    grid-column: 4;
}



#coach-header {
    background-color: aquamarine;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}


#elite-swimmers-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 10px;
}

.elite-swimmer-item{
    border: solid black;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.swimmer-btns{
    margin-top: 50px;
    grid-column: 2;
    grid-row: 3;
}

.add-result-button{
    border-radius: 10px;
    background-color: aquamarine;
}

.edit-result-button{
    border-radius: 10px;
    background-color: aquamarine;
}


#member-object-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 10px;
}

.delete-btn{
    border-radius: 0.3cm;
    margin-bottom: 5px;
    background-color: aqua;
}

.edit-btn{
    border-radius: 0.3cm;
    margin-bottom: 5px;
    background-color: aqua;
}
