*{
    font-family: 'Roboto', sans-serif;
}
:root{
--grid-item: #5585b5; 
--details: #53a8b6; 
--background: #79c2d0; 
--headers: #bbe4e9; 
--edit-buttons: #fa6400; 
}


#admin-header{
    min-height: 10vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: var(--headers);
    
}

#grid-container-nav-menu{
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
    margin-bottom: 40px;
}

#new-member-button{
    background: lightgrey;
	color:black;
	border: none;
	padding: 4px;
	font:inherit;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
	cursor: pointer;
	outline: inherit;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

#grid-container-nav-menu img{
    width: 100px;
}

#admin-img{
    background-color: lightcyan;
    border-radius: 100px;
}

#nav-links{
    flex:1;
    text-align: right;
}

#nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

#nav-links ul li::after{
    content:"";
    width:0%;
    height: 2px;
    background-color:black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#new-member-button::after{
    content:"";
    width:0%;
    height: 2px;
    background-color:black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#new-member-button:hover{
    background-color: darkgray;
}

#nav-links ul li:hover::after{
    width: 100%;
}


#nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.text-box{
    width: 90%;
    color: black;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-65%, -10%);
    text-align: center;
}

.text-box h1{
    font-size:30px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}

#login-div {
    margin: 100px auto;
    width: 350px;
    background-color: lightcyan;
    padding: 60px;
    border: 2px solid lightblue;
    border-radius: 20%;
}

.logo img {
    width: 100%
}

.logo {
    background-color: lightskyblue;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin:0 auto;
    margin-bottom: 50px;
}

#welcome-message, #subtitle{
    text-align: center;
    color:lightskyblue;
}

#welcome-message-container {
    font-weight: bolder;
    font-size: 20px;
}

#subtitle {
    font-size: 15px;
}

#login-form{
    width: 100%;
    margin-top: 30px;
}

#login-form input {
   font-size: 15px; 
   padding: 10px 20px 10px 5px;
   border: none;
   outline: none;
   background: none;
}

#user-name-div, #password-div{
    background-color: whitesmoke;
    display: block;
    border-radius: 30px;
    border: 1px solid black;
    padding: 15px;
    margin: 10px 0;
}

#login-body {
    background-color:aquamarine;
    height: 100vh;
    width: 100%;  
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}


#welcome-message{
    text-align: center;
    grid-column: 2;
    grid-row: 1;
}

#welcome-message-container{
    height: 20%;
    border-radius: 10px;
}

#log-but{
    height: 50%;
    width: 25%;
    border-radius: 10px;
    font-size: larger;
}

#log-but:hover{
    background-color: lightgrey;
}

body{
    margin: 0;
}



#login-button-container{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}    



#grid-container-nav a {
    background-color: aqua;
    padding: 5px;
    border-radius: 10px;
}


h1 {
    text-align: center;
}

/* ------------------------------------------------------- */
/* Svømmervisning på Coach-side */
/* ------------------------------------------------------- */

/* Container til svømmere */
#elite-swimmers-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: .5%;
    row-gap: 2.5%;
    margin-top: 2%;
    max-width: 80%;
}

/* Gør Coach-grid større eller mindre afhængig af vinduesstørrelse */
@media (min-width: 745px){
    #elite-swimmers-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1226px){
    #elite-swimmers-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

#elite-swimmers-container section{
     text-align: center;

}
/* Den enkelte svømmer */
.elite-swimmer-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10px;
    max-width: 800px;
    height: 100%;
    background-color: var(--grid-item);
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

/* Skygge når hover */
.elite-swimmer-item:hover{
box-shadow: 3px 3px 8px pink;
/* background-color: pink; */
}



/* De tre kolonners tekstparagrafer og unordered list */
.elite-swimmer-item p {
    background-color: whitesmoke;
    padding: 0px;
    max-width: 90%;
    border-radius: 10px;
    place-items: center;
    margin-bottom: 10%;
    margin-top: 10%;
    
}

.elite-swimmer-item ul {
     background-color: var(--headers);
    padding: 0;
    margin: 0;
    max-width: 90%;
    border-radius: 10px;
    list-style: none;
    font-size: smaller;
    font-weight: 110;
    text-transform: capitalize;
}

/* visning af generel info */
.swimmer-info {
    width: 12em;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

/* visning af svømmediscipliner */
.swimmer-discipline{
    align-items: stretch;    
    width: 170px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* visning af resultatboks */
.swimmer-comp-results{
    width: fit-content;
    border-radius: 10px;
}

.swimmer-comp-results p{
    width: 9em;
}
/* Knapper inde i hvert svømmerelement */
.swimmer-btns{

    border-radius: 5px;
    margin: 1%;
  
  background-clip: padding-box;
  background-color: var(--edit-buttons);
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  justify-content:flex-end;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  transition: all 250ms;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}
.swimmer-btns:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.swimmer-btns:hover {
  transform: translateY(-2px);
}

.swimmer-btns:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


/* ------------------------------------------------------- */



#grid-container-nav-menu-coach {
    text-align: center;
}

#top5-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#top5-grid-container button{
    border-radius: 10px;
}

#top-five-button{
    grid-column: 2;
    grid-row: 1;
}

#top-five-junior-button{
    grid-column: 4;
}



#coach-header {
    background-color: var(--headers);
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}




.amount-owned-red {
background-color: red;
}

.amount-owned-green {
background-color: greenyellow;
}

/* ------------------------------------------------------- */
/* Medlemsinfo på ADMIN-side */
/* ------------------------------------------------------- */

#member-object-container section{
     margin: auto;
     text-align: center;
     padding-top: 10px;
}

.member-object{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10px;
    margin-left: 10px;
    max-width: 800px;
    background-color: var(--grid-item);
    border: 1px solid black;
    border-radius: 10px;
}

.member-object div {
    border: solid 1px black;
    padding: 5px;
    border-radius: 10px;
    /* overflow: hidden; */
}

.member-object div p{
    background-color: whitesmoke;
    padding: 2px;
    width: 98%;
    border-radius: 10px;
}

.member-object:hover{
   box-shadow: 3px 3px 8px pink;
    cursor: pointer;
}


.object-btns{
 /* display: grid;
 grid-row: 1fr 1fr; */
 place-items: center;
}

.object-btns button{
    border-radius: 10px;
    width:50%;
    height: 40%;
    margin: 7%;
    background-clip: padding-box;
  background-color: var(--edit-buttons);
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  position: relative;
  transition: all 250ms;
  touch-action: manipulation;
  vertical-align: baseline;
}
.object-btns:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.object-btns:hover {
  transform: translateY(-2px);
}

.object-btns:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);

}

.personal-information p{
    transform: translate(0%, 200%);
}

#body-grid-container{
    display: grid;
    grid-template-columns: 72fr 3fr 48fr;
}

dt{
    text-decoration: underline;
}

#faq{
    border-radius: 10px;
    background-color: var(--headers);
    margin-right: 15px;
    grid-column: 3;
    padding-left: 5px;
    padding-right: 5px;
    border: 1.5px solid black;
    height: fit-content;
}

#faq h3{
    text-align: center;
}

#sum-of-income-container {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  display: grid;
  place-items: center;
}

.detailed-obj-table {
    border-collapse: collapse;
    width: 100%;
}

.detailed-obj-table th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.detailed-obj-table th {
    background-color: #f2f2f2;
}

.obj-name{
    font-weight: lighter;
    font-size: smaller;
    text-decoration: underline;
}

#obj-table{
    padding: 20px;
}

#detail-dialog{
    border-radius: 10px;
}

#payment-select{
    margin-left: 50%;
}

#cashier-members-container section{
    margin-bottom: 10px;
    max-width: 800px;
    margin-left: 10px;
    border: 2px solid black;
    max-width: 500px;
}

#cashier-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

#delfin-img{
    grid-column: 3;
    background-color:  lightcyan;
    border-radius: 100px;
}

#delfin-img img{
    width: 100px;
}

#payment-select{
    width: 50%;
    margin: auto;
    grid-row: 2;
    grid-column: 1;
}

#members-container-cashier::after{
    content:"";
    width:0%;
    height: 2px;
    background-color:black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#members-container-cashier:hover::after{
    width: 100%;
}

#members-container-cashier a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

#cashier-header{
    background-color: aqua;
    margin-bottom: 50px;
}

.cashier-members-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#totals{
    font-size: 12px;
    grid-row: 1;
    grid-column: 1;
}

.bttn button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
}

.bttn button:hover{
    cursor: pointer;
    background-color: darkgray;
}


.cashier-members-item div{
    margin: auto;
}

.personal-information{
   padding-bottom: 20px;
}

#cashier-members-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}